{#
/**
 * @file
 * Display user location and time.
 *
 * Available variables:
 * - user_country: Provides country name.
 * - user_city: Provides city name.
 * - user_timezone: Provides formatted time as per selected timezone
 */
#}

<div>Location: {{ user_city }}, {{ user_country }}</div>
<div>Time: {{ user_timezone }}</div>
